.vscode/
.DS_Store
__pycache__/
*~
~*
jslint-report.txt

deployment/*.template

**/global-s3-assets
**/regional-s3-assets
**/assets
**/*.zip
**/package/

**/error.txt

package.json
package-lock.json
node_modules/
