.vscode/
.DS_Store
__pycache__/
*~
~*
jslint-report.txt

deployment/*.template
deployment/test_venv

**/global-s3-assets
**/regional-s3-assets
**/assets
**/*.zip
**/package/

**/error.txt

node_modules/
